body {
  background: #F4EFE2;
}

.firstView {
  width: 100%;
  height: 100vh;
  position: relative;
}
.firstView__decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firstView__event {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.firstView__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firstView__img {
  aspect-ratio: 9/16;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop {
  margin-top: 120px;
}
.shop__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.shop__title {
  font-size: 20px;
  margin-bottom: 45px;
}
.shop__overview {
  line-height: 2;
  text-align: center;
}

.explanation {
  margin-top: 120px;
}
.explanation__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.explanation__img {
  display: block;
}

.note {
  margin-top: 120px;
  background: #E8D8A9;
}
.note__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100vh;
  padding: 45px;
}
.note__list {
  display: block;
  width: 100%;
  height: 90%;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.note__title {
  text-align: center;
  margin-bottom: 45px;
}
.note__btn {
  display: block;
  width: 100%;
  text-align: right;
}

.instagram {
  margin-top: 120px;
}
.instagram__titleContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.instagram__title {
  text-align: center;
  margin-right: 10px;
}
.instagram__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.instagram__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.grid__item {
  display: block;
  width: 100%;
  height: auto;
}
.grid__item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid__item:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid__item:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}
.grid__item:nth-child(4) {
  grid-column-start: auto;
  grid-row-start: 1;
  grid-row-end: 4;
}
.grid__item:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.grid__item:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.grid__item:nth-child(7) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.grid__item:nth-child(8) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.grid__item:nth-child(9) {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 5;
}
/*# sourceMappingURL=index.css.map */