@charset "UTF-8";
body {
  background: #F4EFE2;
  font-family: "Zen Maru Gothic", sans-serif;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.firstView {
  width: 100%;
  min-height: 100vh;
  background: #FCE6AC;
  position: relative;
}
.firstView__shutter {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  width: 100%;
  background: url(../../img/illust/shutter.svg) no-repeat center center/cover;
  z-index: 200;
}
.firstView__inner {
  position: relative;
  height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .firstView__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 200px;
  }
}
.firstView__logo {
  display: block;
  width: 80%;
  margin: 0 auto 45px auto;
}
@media screen and (min-width: 429px) {
  .firstView__logo {
    width: 28%;
    margin: 0 auto 45px 0;
  }
}
@media screen and (min-width: 800px) {
  .firstView__logo {
    width: 34%;
  }
}
@media screen and (min-width: 1200px) {
  .firstView__logo {
    width: 25%;
  }
}

.decoImgs {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 429px) {
  .decoImgs {
    z-index: 0;
  }
}
@media screen and (min-width: 800px) {
  .decoImgs {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .decoImgs {
    width: 60%;
  }
}
.decoImgs__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  aspect-ratio: 870/630;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
@media screen and (min-width: 429px) {
  .decoImgs__img {
    display: block;
  }
}
.decoImgs__donut {
  position: absolute;
  bottom: -30%;
  right: 1%;
  transform: rotate(180deg);
}
.decoImgs__donut:nth-child(3) {
  display: none;
}
@media screen and (min-width: 800px) {
  .decoImgs__donut:nth-child(3) {
    display: block;
  }
}
@media screen and (min-width: 429px) {
  .decoImgs__donut {
    width: 21%;
    top: -10%;
    transform: rotate(0);
  }
}
@media screen and (min-width: 800px) {
  .decoImgs__donut {
    width: 30%;
    top: 30%;
    left: -10%;
    display: none;
  }
}
.decoImgs__comment {
  position: absolute;
  bottom: -65%;
  right: 0;
  display: block;
  width: 44%;
}
@media screen and (min-width: 429px) {
  .decoImgs__comment {
    bottom: auto;
    top: -37%;
    transform: rotate(180deg) scale(-1, 1);
  }
}
@media screen and (min-width: 800px) {
  .decoImgs__comment {
    top: auto;
    bottom: -25%;
    left: -80%;
    z-index: 10;
    transform: scale(1, 1);
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .decoImgs__comment {
    width: 85%;
    left: -65%;
    bottom: -10%;
  }
}
.decoImgs__speech {
  display: block;
  width: 100%;
  position: relative;
}
.decoImgs__speech::after {
  content: "探してみてね";
  display: block;
  position: absolute;
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%;
  top: 35%;
  text-align: center;
}
@media screen and (min-width: 429px) {
  .decoImgs__speech::after {
    transform: rotate(180deg) scale(-1, 1);
    font-size: 1.5625rem;
  }
}
@media screen and (min-width: 800px) {
  .decoImgs__speech::after {
    transform: none;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .decoImgs__speech::after {
    font-size: 4.375rem;
  }
}

.shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 0;
}
.shelf__img {
  display: block;
  width: 20%;
}
@media screen and (min-width: 429px) {
  .shelf__img {
    width: 15%;
  }
}
@media screen and (min-width: 800px) {
  .shelf__img {
    width: 12%;
  }
}
@media screen and (min-width: 1200px) {
  .shelf__img {
    width: 10%;
  }
}
.shelf__img:nth-child(5) {
  display: none;
}
@media screen and (min-width: 429px) {
  .shelf__img:nth-child(5) {
    display: block;
  }
}
.shelf__img:nth-child(6) {
  display: none;
}
@media screen and (min-width: 800px) {
  .shelf__img:nth-child(6) {
    display: block;
  }
}
.shelf__img:nth-child(7) {
  display: none;
}
@media screen and (min-width: 1200px) {
  .shelf__img:nth-child(7) {
    display: block;
  }
}

.shop {
  position: relative;
  margin: 120px 0;
  padding: 120px 0;
  background-image: url(../../img/illust/rapping.svg), url(../../img/illust/rapper2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: 429px, 429px;
  background-color: #FDEFDE;
}
@media screen and (min-width: 429px) {
  .shop {
    background-size: 800px, 800px;
    margin: 150px 0;
    padding: 170px 0;
  }
}
@media screen and (min-width: 800px) {
  .shop {
    background-size: 1200px, 1200px;
    margin: 170px 0;
    padding: 250px 0;
  }
}
@media screen and (min-width: 1200px) {
  .shop {
    background-image: url(../../img/illust/rapperPcTop.svg), url(../../img/illust/rapperPcBtm.svg);
    background-size: 1920px, 1920px;
    padding: 300px 0;
    margin: 200px 0;
  }
}
.shop__decoration {
  display: block;
  width: 35%;
  position: absolute;
  top: -8%;
  right: 0;
  z-index: -1;
}
@media screen and (min-width: 429px) {
  .shop__decoration {
    top: -11%;
  }
}
@media screen and (min-width: 800px) {
  .shop__decoration {
    top: -15%;
  }
}
@media screen and (min-width: 1200px) {
  .shop__decoration {
    width: 20%;
  }
}
.shop__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.shop__title {
  font-size: 20px;
  margin-bottom: 45px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.3rem;
}
@media screen and (min-width: 429px) {
  .shop__title {
    line-height: 1.7;
  }
}
@media screen and (min-width: 800px) {
  .shop__title {
    font-size: 30px;
    margin-bottom: 100px;
  }
}
.shop__overview {
  line-height: 2;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .shop__overview {
    font-size: 18px;
    line-height: 3;
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .shop__overview {
    font-size: 20px;
  }
}

.conductor {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.conductor__item {
  display: block;
  writing-mode: vertical-lr;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  transition: 0.3s;
}
.conductor__item:not(:last-child) {
  margin-bottom: 10px;
}
.conductor__item:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 800px) {
  .conductor__item {
    writing-mode: horizontal-tb;
  }
}

.explanation {
  margin-top: 120px;
}
.explanation__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
.explanation__content {
  width: 75%;
}
@media screen and (min-width: 429px) {
  .explanation__content {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  .explanation__content {
    width: 50%;
  }
}
.explanation__content:nth-child(1) {
  margin-bottom: 65px;
}
.explanation__content:nth-child(1) .explanation__comment {
  transform: translateX(20%);
}
.explanation__content:nth-child(2) {
  margin-left: auto;
}
.explanation__content:nth-child(2) .explanation__comment {
  transform: translateX(-20%);
  margin-right: auto;
}
.explanation__content:nth-child(2) .explanation__img {
  transform: scale(-1, 1);
  position: relative;
  z-index: -1;
}
.explanation__content:nth-child(2) .explanation__icon {
  margin-left: auto;
}
.explanation__comment {
  position: relative;
}
.explanation__img {
  width: 100%;
}
.explanation__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -60%);
  font-size: 14px;
  text-align: center;
}
@media screen and (min-width: 429px) {
  .explanation__text {
    top: 45%;
  }
}
@media screen and (min-width: 800px) {
  .explanation__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .explanation__text {
    font-size: 22px;
  }
}
.explanation__icon {
  display: block;
  width: 75px;
}
@media screen and (min-width: 800px) {
  .explanation__icon {
    width: 100px;
  }
}

.note {
  margin-top: 120px;
  background: #E8D8A9;
  padding: 60px 0;
}
@media screen and (min-width: 800px) {
  .note {
    padding: 120px 0;
  }
}
.note__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #72550B;
  box-shadow: 6px 6px 0px 0px rgb(231, 147, 114);
  padding: 30px 15px;
  position: relative;
}
@media screen and (min-width: 800px) {
  .note__inner {
    padding: 45px 25px;
  }
}
.note__title {
  text-align: center;
  margin-bottom: 45px;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  .note__title {
    font-size: 25px;
  }
}
.note__container {
  width: 75%;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .note__container {
    width: 50%;
  }
}
.note__more {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 10px;
}
.note__more:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 55%;
  height: 3px;
  background: #EF9393;
}
.note__more:hover .note__text {
  transform: scale(1.1);
}
.note__text {
  transition: 0.3s;
  display: block;
  margin-right: 5px;
  font-weight: bold;
}
.note__links {
  display: block;
  border-bottom: 1px dashed #72550B;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .note__links {
    margin-bottom: 45px;
  }
}
.note__pencil {
  display: block;
  position: absolute;
  width: 130px;
  bottom: -18%;
  left: -20%;
}
@media screen and (min-width: 429px) {
  .note__pencil {
    bottom: -15%;
    left: -10%;
    width: 160px;
  }
}
@media screen and (min-width: 800px) {
  .note__pencil {
    width: 220px;
    left: 10%;
    bottom: -25%;
  }
}
@media screen and (min-width: 1200px) {
  .note__pencil {
    width: 300px;
    bottom: -40%;
  }
}

.noteList {
  overflow-x: hidden;
  position: relative;
  transition: 0.3s;
}
@media screen and (min-width: 800px) {
  .noteList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.noteList:hover {
  transform: scale(1.1);
}
.noteList__item {
  font-size: 14px;
}
.noteList__item:nth-child(1) {
  margin-bottom: 5px;
  font-weight: bold;
}
.noteList__item:nth-child(2) {
  margin-bottom: 5px;
}
@media screen and (min-width: 800px) {
  .noteList__item {
    font-size: 18px;
  }
}
.noteList__bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.instagram {
  margin-top: 120px;
  margin-bottom: 120px;
}
@media screen and (min-width: 800px) {
  .instagram {
    margin-top: 160px;
  }
}
.instagram__titleContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.instagram__title {
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  .instagram__title {
    font-size: 25px;
  }
}
.instagram__titleDeco {
  display: block;
  width: 50px;
  height: auto;
  transition: 0.3s;
}
.instagram__titleDeco:hover {
  transform: scale(1.1);
}
.instagram__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .instagram__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.grid__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.grid__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  display: block;
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid:nth-child(1) {
  display: grid;
  grid-template-columns: 422fr 350fr 198fr;
  grid-template-rows: 280fr 280fr 380fr;
  max-width: 800px;
  margin: auto;
}
.grid:nth-child(1) .grid__item {
  position: relative;
}
.grid:nth-child(1) .grid__item:nth-child(1) {
  grid-area: 1/1/3/2;
}
.grid:nth-child(1) .grid__item:nth-child(2) {
  grid-area: 1/2/2/3;
}
.grid:nth-child(1) .grid__item:nth-child(3) {
  grid-area: 2/2/3/3;
}
.grid:nth-child(1) .grid__item:nth-child(4) {
  grid-area: 3/1/4/3;
}
.grid:nth-child(1) .grid__item:nth-child(5) {
  grid-area: 1/3/4/4;
}

.grid:nth-child(2) {
  display: grid;
  grid-template-columns: 314fr 314fr 314fr;
  grid-template-rows: 501fr 168fr;
  max-width: 800px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .grid:nth-child(2) {
    width: 120%;
  }
}
.grid:nth-child(2) .grid__item {
  position: relative;
}
.grid:nth-child(2) .grid__item:nth-child(1) {
  grid-area: 1/1/1/1;
}
.grid:nth-child(2) .grid__item:nth-child(2) {
  grid-area: 4/0/1/3;
}
.grid:nth-child(2) .grid__item:nth-child(3) {
  grid-area: 0/3/1/1;
}
.grid:nth-child(2) .grid__item:nth-child(4) {
  grid-area: 2/4/2/1;
}

.lope {
  display: none;
}

.break {
  display: inline-block;
}
/*# sourceMappingURL=index.css.map */