/*----------variable----------*/

/*color*/
$color-text: #483505;
$color-bg: #F4EFE2;

/*@mixin*/
$breakpoints: (
    "tablet": "(640px <= width)",
    "desktop": "(800px <= width)",
    "full": "(1200px <= width)",
    ) !default;

@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: 90%, $mw: 1200px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@function f-rem($value) {
    @return ($value/16)+rem;
}


/*----------module----------*/

/*post*/
.post {
    margin-top: (50em/16
    );

@include m-query(desktop) {
    @include m-flex(flex-end);
    margin-top: (70em/16);
}

&__image {
    position: relative;

    @include m-query(desktop) {
        width: (500/1180)*100%;
    }

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .info__feet {
        position: absolute;
        width: 200px;
        left: 0;
        bottom: 0;
    }
}

&__text {
    margin-top: (10em/16);

    @include m-query(desktop) {
        margin-top: 0;
        width: (500/1180)*100%;
    }
}
}

.post:last-child {
    margin-top: (70em/16);

    @include m-query(desktop) {
        flex-direction: row-reverse;
        margin-top: (100em/16);
    }

    .info__feet {
        position: absolute;
        width: 200px;
        left: auto;
        right: 0;
        bottom: 0;
        transform: rotate(90deg);
    }
}


/*----------street.html----------*/

/*body*/
body {
    color: $color-text;
    background-color: $color-bg;
    font-family: "Zen Maru Gothic",
        sans-serif;
    font-size: f-rem(16);
    font-weight: 400;
    line-height: (25.6/16);
    letter-spacing: (50/1000)rem;
    overflow-x: hidden;
}

/*street*/
.street {
    &__visual {
        padding-top: (300em/16);

        @include m-query(desktop) {
            padding-top: (800em/16);
        }
    }

    &__info {
        margin-top: (150em/16);

        @include m-query(desktop) {
            margin-top: (200em/16);
        }
    }

    &__intro {
        margin-top: (150em/16);

        @include m-query(desktop) {
            margin-top: (200em/16);
        }
    }
}

/*visual*/
.visual {
    background: url(https://placehold.jp/150x150.png) no-repeat center/cover;

    &__inner {
        @include m-inner();
    }
}

/*info*/
.info {
    padding-bottom: (150em/16);

    &__inner {
        @include m-inner();
    }

    h2 {
        font-size: f-rem(20);
        font-weight: 600;
        line-height: (32/20);

        @include m-query(desktop) {
            font-size: f-rem(30);
            line-height: (48/30);
        }
    }
}

/*intro*/
.intro {
    padding: (150em/16);
    position: relative;
    color: #ffffff;
    background: rgba(92, 106, 148, 1) url(/img/illust/intro_deco1.svg) repeat-x top left;
    background-size: 60px;

    @include m-query(desktop) {
        background-size: 80px;
    }

    &__top {
        padding: (30em/16);
        position: absolute;
        width: 40%;
        right: -10px;
        top: 0;
        transform: translateY(-50%);
        background-color: rgba(92, 106, 148, 1);
        border-radius: 50% 50% 0 50%;

        @include m-query(desktop) {
            padding: (50em/16);
            width: 480px;
            top: 0;
        }
    }

    &__inner {
        @include m-inner();
    }

    h2 {
        font-size: f-rem(20);
        font-weight: 600;
        line-height: (32/20);

        @include m-query(desktop) {
            font-size: f-rem(30);
            line-height: (48/30);
        }
    }

    &__text {
        margin-top: (50em/16);

        @include m-query(desktop) {
            margin-top: (70em/16);
        }
    }

    &__image {
        margin-top: (50em/16);
        text-align: center;

        @include m-query(desktop) {
            margin-top: (70em/16);
            @include m-flex();
        }

        img {
            @include m-query(desktop) {
                width: (500/1180)*100%;
            }
        }

        img:last-of-type {
            margin-top: (30em/16);

            @include m-query(desktop) {
                margin-top: 0;
            }
        }
    }

    &__deco {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150px;
    }

    &__deco:last-of-type {
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0;
        transform: scaleX(-1);
    }
}