/*----------variable----------*/
/*color*/
/*@mixin*/
/*----------street.html----------*/
.header {
  font-family: "Zen Maru Gothic", sans-serif;
}

/*body*/
body {
  color: #483505;
  background-color: #F4EFE2;
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.05 rem;
  overflow-x: hidden;
}

/*visual*/
.visual {
  display: block;
  height: 100vh;
  width: 100%;
  position: relative;
}
.visual__video {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.visual__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1.1rem;
}

/*info*/
.info {
  margin-top: 120px;
}
.info__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.info__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 45px;
}
@media screen and (min-width: 429px) {
  .info__title {
    font-size: 25px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 800px) {
  .info__title {
    font-size: 30px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .info__title {
    font-size: 35px;
    margin-bottom: 90px;
  }
}

.post {
  position: relative;
}
@media screen and (min-width: 429px) {
  .post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.post:not(:last-child) {
  margin-bottom: 120px;
}
.post__text {
  margin-top: 20px;
}
@media screen and (min-width: 429px) {
  .post__text {
    width: 45%;
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  .post__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .post__text {
    font-size: 24px;
  }
}
.post__img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 429px) {
  .post__img {
    width: 45%;
  }
}
.post__feet {
  position: absolute;
  bottom: -40%;
  display: block;
  width: 50%;
  height: auto;
}

.feet {
  transform: rotate(90deg);
  right: 0;
}
@media screen and (min-width: 429px) {
  .feet {
    bottom: -70%;
    width: 30%;
  }
}
@media screen and (min-width: 800px) {
  .feet {
    bottom: -40%;
  }
}

.feet2 {
  transform: rotate(90deg);
  left: 0;
}
@media screen and (min-width: 429px) {
  .feet2 {
    bottom: -70%;
    width: 30%;
    right: 0;
  }
}
@media screen and (min-width: 800px) {
  .feet2 {
    left: auto;
    right: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .feet2 {
    left: auto;
    bottom: -50%;
    right: 20%;
  }
}

/*intro*/
.intro {
  margin-top: 160px;
  padding: 85px 0 120px 0;
  color: #ffffff;
  background: rgb(92, 106, 148) url(/img/illust/intro_deco1.svg) repeat-x top left;
  background-size: 60px;
  position: relative;
}
@media screen and (min-width: 429px) {
  .intro {
    padding: 85px 0 150px 0;
    margin-top: 180px;
  }
}
@media screen and (min-width: 429px) {
  .intro {
    margin-top: 200px;
  }
}
.intro__top {
  padding: 1.875em;
  position: absolute;
  width: 40%;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  background: #5c6a94;
  border-radius: 50%;
}
@media screen and (min-width: 800px) {
  .intro__top {
    width: 25%;
  }
}
.intro__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.intro__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 45px;
}
@media screen and (min-width: 429px) {
  .intro__title {
    font-size: 25px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 800px) {
  .intro__title {
    font-size: 30px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .intro__title {
    font-size: 35px;
    margin-bottom: 90px;
  }
}
.intro__text {
  margin-bottom: 45px;
}
@media screen and (min-width: 429px) {
  .intro__text {
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  .intro__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .intro__text {
    font-size: 24px;
  }
}
@media screen and (min-width: 429px) {
  .intro__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.intro__img {
  display: block;
  width: 100%;
  height: auto;
}
.intro__img:not(:last-child) {
  margin-bottom: 45px;
}
@media screen and (min-width: 429px) {
  .intro__img:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 429px) {
  .intro__img {
    width: 45%;
    aspect-ratio: 4/3;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.intro__deco {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
}
@media screen and (min-width: 800px) {
  .intro__deco {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .intro__deco {
    width: 300px;
  }
}
.intro__deco:last-of-type {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
}
/*# sourceMappingURL=street.css.map */