@charset "UTF-8";
@import "../common/common";

// common.scss
@mixin mix-inner($w: 90%, $mw: 1200px) {
  width: $w;
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}

body {
  overflow-x: hidden;
}
/* mv */
@mixin mv__inner {
  @include mix-inner(90%, 1200px);
}

.mv__inner {
  @include mv__inner;
}

/* content */
@mixin content__inner {
  @include mix-inner(90%, 1200px);
}

.content {
  background: linear-gradient(to bottom, #97c1cb 0%, #4c85b1 100%);
  overflow: hidden;
  position: relative;
  padding-bottom: 100px;
}

.contentTop {
  vertical-align: text-top;
}

.content__inner {
  @include content__inner;
  display: grid;
  grid-template-rows: repeat(3, auto);
  position: relative;
  gap: 150px;

  @include mix-query("tablet") {
    gap: 234px;
  }
}

.content__item {
  max-width: 250px;
  width: (250 / 335) * 100%;
  grid-column: 1;
  justify-self: start;

  &:nth-child(even) {
    justify-self: end;
  }

  @include mix-query("tablet") {
    max-width: 1152px;
    width: (1152 / 1920) * 100%;
  }
}

.content__title {
  font-weight: 500;
}

.content__item:nth-child(1) .content__title {
  color: #3777b2;
}

.content__item:nth-child(2) .content__title {
  color: #1c5990;
}

.content__item:nth-child(3) .content__title {
  color: #12487a;
}

.content__text {
  padding: 22.5px 5px;
  font-size: 20px;
  color: #483505;
  border: #72550b 2px solid;
  border-radius: 20px;
  background-color: rgba($color: #fff, $alpha: 0.3);
}

.content__bottom {
  width: 100%;
  transform: translateY(10);
  height: 200%;
}

.contentImg {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.content__img {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 120px;

  @include mix-query("tablet") {
    left: 120px;
    top: -100px;
    width: 350px; // 拡大してバランス調整
  }

  img {
    width: 100%;
    height: auto;
  }
}

/* staff */
.staff {
  padding-top: 120px;
  background-color: #e9cdb0;

  @include mix-query("tablet") {
    padding-top: 180px;
  }
}

@mixin staff__inner {
  @include mix-inner(90%, 1200px);
}

.staff__inner {
  @include staff__inner;
}

.staff__title {
  color: #483505;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}

.staff__memberList {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 60px;
  margin-top: 140px;

  @include mix-query("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.staff__member {
  background-color: #fff;
  padding: 23px 21px;

  // @include mix-query("tablet") {
  //   max-width: 483px;
  //   width: (483 / 1040) * 100%;
  // }
}

.staff__text {
  margin: 8px 0 0 11.38px;

  @include mix-query("tablet") {
    margin-left: 0;
  }
}

.staff__name {
  font-size: 28px;
}

.staff__detail {
  margin-top: 8px;
}

.staff__subtitle {
  font-size: 22px;
  margin-top: 60px;
}

.staff__help .staff__list {
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
  gap: 86px;
}

.staff__help {
  @include mix-query("tablet") {
    padding-top: 180px;
    gap: 230px;
  }
}

.staff__help .staff__item {
  max-width: 297.3px;
  width: (297.3 / 335) * 100%;
  background-color: #fff;
  padding: 23px 19.82px;
  margin: 0 auto;

  @include mix-query("full") {
    // max-width: 297.3px;
    // width: (297.3 / 1920) * 100%;
  }
}

.staff__help .staff__name {
  font-size: 16px;
  margin-top: 8px;
}

/* review */
.review {
  padding-top: 120px;
  background-color: #e9cdb0;

  @include mix-query("tablet") {
    padding-top: 180px;
  }
}

@mixin review__inner {
  @include mix-inner(90%, 1200px);
}

.review__inner {
  @include review__inner;
}

.review__title {
  text-align: center;
}

.review__list {
  margin-top: 60px;
  position: relative;
  padding: 2rem;
  min-height: 650px;
}

.review__item {
  position: absolute; // ← ここが重要
  width: 300px;
  height: 130px;
  text-align: center;
  background-color: #c4d9ac;
  padding: 30px 42px;
  font-size: 18px;
  transition: transform 0.3s;
  z-index: 1;
}

.review__btn {
  background: #eee;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px auto 0;
  max-width: 335px;
  width: 100%;
  padding: 10px 25px;

  @include mix-query("tablet") {
    margin-right: 0;
  }
}

.reviewBottom {
  background-color: #f4efe2;
}

/* snack */
.snack {
  padding-top: 120px;
  background-color: #f4efe2;
}

@mixin snack__inner {
  @include mix-inner(90%, 1200px);
}

.snack__inner {
  @include snack__inner;
}

.snack__title {
  text-align: center;
}

.snack__intro {
  width: (856 / 1040) * 100%;
  margin: 20px auto 0 auto;
  margin-top: 20px;
  text-align: center;
}

.snack__list {
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(2, auto);
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  gap: 0;
  margin-top: 60px;
  padding-bottom: 120px;
  position: relative;
}

.snack__item {
  flex: 0 0 auto;
  width: 204px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s;
}

.snack__item:nth-child(even) {
  margin-top: 210px;
}
.snack__item:nth-child(odd) {
  transform: translateY(0px);
}

.snack__text {
  width: 204px;
}

.snack__deco {
  background-color: #fff;
  height: 18px;
}

.snack__name {
  font-size: 20px;
  text-align: center;
  height: 49px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #ddbda5;
}
